body{
    background-color: rgb(46, 45, 99);
}
.container{
    display: grid;
    place-items: center;
}
.trafficlight{
    width: 250px;
    height: 550px;
    border-radius: 10%;
    background-color: rgb(28, 27, 27);
    margin-top: 2%;
    display: grid;
    place-items: center;
    padding: 30px;
}
.lights{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.lights::after{
    content: ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-right: 10px rgb(237, 231, 157);
    top: 5%;
}
.post{
    width: 50px;
    height: 180px;
    background-color: rgb(28, 27, 27);
}
#red{
    background-color: rgb(221, 18, 18);
}
#yellow{
    background-color: rgb(218, 221, 18);
}
#green{
    background-color: rgb(16, 79, 36);
}
.button{
    position: relative;
    width: 120px;
    height: 70px;
    right: 35px;
    top: 50px;
    border-style: outset;
    border-color: rgb(117, 112, 112);
    border-width: 4px;
    border-radius: 10%;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
